/*menos de 640*/
@media (max-width: 640px) {
    .navPages{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.8rem;
    }
    
    .pageList{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0.5rem;
    }
    
    .numberPage{
        display: none;
    } 
    
    .pageBtn {
        border-radius: 50%;
        border: none;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: black;
        background-color: rgb(255, 0, 0);
        margin: 0 0.2rem 0.2rem 0.2rem;
        transition: all 0.3s;
    }
    
    .pageBtn{
        border-radius: 0.5rem;
        width: 3.8rem;
    }
    
    .numberPage:hover, .pageBtn:hover{
        cursor: pointer;
        color: yellow;
        font-size: 0.9rem;
    }
    
    .numberPage:hover{
        transform: rotate(360deg);
    }
    
    .pageBtn:disabled{
        cursor: none;
        background-color: rgba(255, 0, 0, 0.2);
    }

    .match{
        border-radius: 50%;
        border: none;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: white;
        background-color: rgb(255, 0, 0);
        margin: 0 0.2rem;
        transition: all 0.3s;
    }

    .match:hover{
        cursor: pointer;
        color: black;
        font-size: 0.9rem;
        transform: rotate(360deg);
    }
}


/*mas de 640*/
@media (min-width: 640px) {
    .navPages{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.8rem;
    }
    
    .pageList{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0.5rem;
    }
    
    .numberPage, .pageBtn {
        border-radius: 50%;
        border: none;
        height: 1.8rem;
        width: 1.8rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: black;
        background-color: rgb(255, 0, 0);
        margin: 0 0.2rem;
        transition: all 0.3s;
    }
    
    .match{
        border-radius: 50%;
        border: none;
        height: 1.8rem;
        width: 1.8rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: white;
        background-color: rgb(255, 0, 0);
        margin: 0 0.2rem;
        transition: all 0.3s;
    }

    .match:hover{
        cursor: pointer;
        color: black;
        font-size: 0.9rem;
        transform: rotate(360deg);
    }

    .pageBtn{
        border-radius: 0.5rem;
        width: 3.8rem;
    }
    
    .numberPage:hover, .pageBtn:hover{
        cursor: pointer;
        color: yellow;
        font-size: 0.9rem;
    }
    
    .numberPage:hover{
        transform: rotate(360deg);
    }
    
    .pageBtn:disabled{
        cursor: none;
        background-color: rgba(255, 0, 0, 0.2);
    }
}
